<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% data.forEach(function (post) { %>
        <% if(post.z != ''){ %>
        <img src="<%= post.z %>">
        <% } %> 
        <%= post.title %>
        <%= post.date %>
        <p><%= post.text %></p>
<% }) %>
</head>
<body>
    
</body>
</html>