<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/asserts/style.css">
  <title>Log-in</title>
</head> 
<body>
  <div class="logo-box"></div>
  <nav class="navbar">
      <div class="navbar-container container">
          <ul class="menu-items">
              <li><a class="browse-text" href="http://localhost:3000/">Browse</a></li>
              <li><a class="log-in-text"href="http://localhost:3000/log_in">Log in</a></li>
          </ul>
      </div>
  </nav>
  
<form class = "log-in-box" action="/log_in" method="POST">
    <label for="log-in-title">Log In</label>
    
    
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
  
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  
    <button type="submit">Log In</button>
    <a class="sign-up-login" href="http://localhost:3000/sign_in"> Sign up</a>
</form>
</body>